<div class="primary">
	<h1>About Me</h1>
	<div class="column first">
		<h2>Who</h2>
		<p><strong>Dry Development</strong> is my web development entity. Not only does DRY represent my initials, but it's, also, an acronym for the "don't repeat yourself" programming principle.</p>

		<h2>Where</h2>
		<p>Originally from Ontario, Canada I am currently changing the game across the internets from North East Ohio, USA.</p>
	</div>
	<div class="column">
		<h2>What</h2>
    <p>I am currently employed by the health care startup, <a href="http://within3.com" target="_blank">Within3</a>, in Cleveland, OH.<br/><br/>
    I am, also, building <a href="http://signup.statbomb.com" target="_blank">StatBomb</a>, a baseball/softball team management/analysis web application.</p>

		<h2>Why</h2>
		<p>I do it because I love building web products and writing clean and maintainable code.</p>

		<h2>How</h2>
		<p>Ruby, Rails, Sinatra, MySQL, HTML, CSS, JS, VIM, OS X</p>
	</div>
</div>
<div class="secondary">
	<%= image_tag 'doug-yoder-2.jpg', :alt => 'Doug Yoder'%>
	<div class="module skype">
		<h3>Skype</h3>
		<p><a href="skype:doug.yoder?chat">doug.yoder</a></p>
	</div>
	<div class="module email">
		<h3>Email / Google Talk</h3>
		<p><a href="mailto:doug@drydevelopment.com">doug@drydevelopment.com</a></p>
	</div>
	<div class="module twitter">
		<h3>Twitter</h3>
		<p><a target="_blank" href="http://twitter.com/doug_yoder">doug_yoder</a></p>
	</div>
	<div class="module facebook">
		<h3>Facebook</h3>
		<p><a target="_blank" href="http://www.facebook.com/pages/North-Canton-OH/Dry-Development/104520206422?ref=nf">Dry Development</a></p>
	</div>
  <div class="module linkedin">
    <h3>LinkedIn</h3>
    <p><a target="_blank" href="http://www.linkedin.com/in/douglasryoder">douglasryoder</a>
  </div>
</div>
<div class="clear"></div>
