<div class="primary">
  <h1>Our Wedding</h1>
  <p class="pavilion rounded-top"><%= image_tag "cuyahoga_falls_indoor_pavilion.jpg" %></p>
  
  <div class="column first">
    <h2>When</h2>
    <p>Saturday March 30th, 2013<br/>3pm to 9pm</p>

    <h2>Registry</h2>
    <p>We are not registered :)  But, we are fans of <a href="http://www.bedbathandbeyond.com" target="_blank">Bed Bath and Beyond</a> and <a href="http://www.homedepot.com" target="_blank">Home Depot</a>.</p>
  </div>
  <div class="column">
    <h2>Where</h2>
    <p>
    Cuyahoga Falls Riverfront Indoor Pavilion<br/><a href="http://goo.gl/maps/trv0Y" target="_blank">2085 Front Street<br/>Cuyahoga Falls, OH 44221</a><br/><br/>
    Free public parking available in <a href="http://cfo.cityofcf.com/web/sites/default/files/imce/commdevelop/frs/parking.pdf" target="_blank">nearby parking decks</a>. The red parking deck is the closest.
    </p>
  </div>

  <iframe width="558" style="border: 1px solid #CCC;" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=2085+Front+Street+Cuyahoga+Falls,+OH+44221&amp;ie=UTF8&amp;hq=&amp;hnear=2085+Front+St,+Cuyahoga+Falls,+Ohio+44221&amp;gl=us&amp;t=m&amp;z=14&amp;ll=41.136294,-81.482757&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=2085+Front+Street+Cuyahoga+Falls,+OH+44221&amp;ie=UTF8&amp;hq=&amp;hnear=2085+Front+St,+Cuyahoga+Falls,+Ohio+44221&amp;gl=us&amp;t=m&amp;z=14&amp;ll=41.136294,-81.482757&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
<div class="secondary">
  <%= image_tag 'us.jpeg' %>
  <div class="module rsvp">
    <p><a href="http://www.surveymonkey.com/s/9LRDK6P" class="rounded-top rounded-bottom" target="_blank">Click here to RSVP</a></p>
  </div>

  <div class="module">
    <p>For more information, or to RSVP by phone, contact Doug at (330) 904-0344.</p>
  </div>

  <div class="module accommodations">
    <h3>Hotel Accommodations</h3>
    <ul>
      <li><%= link_to "Sheraton Suites", "http://www.sheratonakron.com/", :target => "_blank" %> is right across the street (within walking distance).</li>
      <li><%= link_to "Country Inn & Suites", "http://www.countryinns.com/cuyahoga-falls-hotel-oh-44221/ohcuyaho", :target => "_blank" %> is 1.2 miles from our wedding, a more economic alternative.</li>
    </ul>
  </div>
</div>
<div class="clear"></div>

