/*
++++++++++++++++++++++++
GLOBAL
++++++++++++++++++++++++
*/
body {
	background: #000 url(radial-background.jpg) no-repeat center top;
	width: 100%;
	color: #FFF;
	font-family: Georgia;
}
#wrapper {
	width: 960px;
	margin: 26px auto 0;
}
#header, 
#admin-header,
#body,
#footer {
	float: left;
}
.rounded {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.rounded-top {
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}
.rounded-bottom {
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}
.column {
	float: left;
}

/* HEADLINES */
h2, h3, h4, h5, h6 {
	font-family: Arial;
}
h1 { 
	font-family: Arial Black;
	font-size: 36px; 
	line-height: 110%;
	color: #337EA5;
	padding: 6px 0;
}

h2 { 
	font-family: Arial Black;
	font-size: 26px; 
	/*color: #337EA5;*/ 
	color: #D03E2D;
	padding: 8px 0 8px 0;
}
h3 { font-size: 18px; }

/* PARAGRAPHS */
p {
	padding: 6px 0;
	color: #333;
}

/* ANCHORS */
a {
	color: #A3C439;
	text-decoration: underline;
}
h2 a {
	color: #337EA5;
	text-decoration: none;
}
#logo a {
	background: none;
}
#header ul a {
	text-decoration: none;
	color: #888;
}
#header ul a:hover {
	color: #DDD;
}
#body a:hover {
	text-decoration: none;
}
#body  h2 a:hover {
	text-decoration: none;
}
#body p span.mceEditor #body a {
	padding: 0;
}

/*
++++++++++++++++++++++++
HEADER
++++++++++++++++++++++++
*/
#header {
	width: 960px;
}
#logo {
	width: 960px;
	height: 20px;
	padding-bottom: 16px;
}	
	#logo p { 
		/*text-align: right; 
		padding: 0 20px 0 0;*/
		padding: 0 0 0 0;
	}
	#logo a {
/*		width: 202px;
		height: 20px;
		display: block;*/
	}
#menu {
	width: 958px;
	margin: 0 auto 16px auto;
	border: 1px solid #333;
	background: #444;
	opacity: 0.6;
}
#header ul {
	font-family: Arial;
	font-size: 12px;
	line-height: 32px;
	float: right;
	height: 32px;
}
#header li { 
	float: left; 
	font-weight: bold;
	height: 32px;
	border-right: 1px solid #333;
}
#header li a {
	background: none;
	padding: 0 24px;
	display: block;
	height: 32px;
	width: auto;
	float: left;
}
#header li.first a {
	border-left: none;
}
#header li.last { border-right: none; }
#header li.last a {
	border-right: none;
	-moz-border-radius-topright:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}
#header li a:hover {
	background: #555;
}
#header li.first a:hover {
	border-left: none;
}

/*
++++++++++++++++++++++++
ADMIN HEADER
++++++++++++++++++++++++
*/
#admin-header {
	width: 960px;
	margin: 8px auto 8px auto;
	font-size: 11px;
}
#admin-menu {
	padding-right: 25px;
	float: right;
	font-family: Lucida Grande;
}
#admin-header a {
	color: #666;
}
#admin-header a:hover {
	color: #999;
	text-decoration: underline;
}

/*
++++++++++++++++++++++++
BODY
++++++++++++++++++++++++
*/
#body {
	width: 960px;
	padding: 0 0 24px 0;
	margin: 0 auto;
}
#body h1 { 
	color: #D03E2D; 
	background: #FFF; 
	padding: 16px 16px; 
	margin: 30px 0 16px 0; 
	width: 527px; 
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
h2 { 
	color: #337EA5; 
	background: #DDD; 
	font-family: Helvetica; 
	padding: 8px 16px 0 16px; 
}
h3 { color: #CCC; }
#body a { color: #337EA5; }
/*#body a:hover { text-decoration: underline; }*/
#body {
	background: url(content-bg.gif) repeat-y;
}
#body div.primary,
#body div.secondary { float: left; }
#body div.primary {
	padding: 0 45px;
	width: 560px;
}
#body div.secondary {
	width: 220px;
	padding: 24px 45px 0 45px;
}
	#body div.secondary div.module {
		margin: 0 0 16px 0;
		font: 14px Arial;
		line-height: 150%;
	}
		#body div.secondary div.module h3 { 
			margin-bottom: 8px; 
			padding-bottom: 8px; 
			font-family: Georgia;
		}
		#body div.secondary div.module li { 
			font-size: 14px; 
			color: #888; 
			padding: 0 0 8px;
		}
		#body div.secondary div.module p { font-size: 14px; color: #CCC; }
		#body div.secondary div.module a { background: #333; text-decoration: none; }
		#body div.secondary div.module a:hover { text-decoration: underline; }
#body div.column { 
	width: 269px; 
	padding: 0 0 0 0;
}
#body div.column.first {
	width: 270px;
	padding: 0 20px 0 0;
}

/*
++++++++++++++++++++++++
FOOTER
++++++++++++++++++++++++
*/
#footer {
	width: 935px;
	/*height: 200px;*/
	margin: 0 auto 20px auto;
	padding: 8px 12px;
/*	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	background: #222;*/
}
#footer p {
	font-family: Arial;
	padding: 8px 10px;
	font-size: 12px;
	float: left;
	color: #666;
}
#footer ul {
	float: right;
}
#footer li {
	float: left;
	padding: 0 16px;
	margin-top: 4px;
	/*border-left: 1px solid #222;*/
}
#footer li.first {
	/*border-left: 0;*/
}
#footer a {
	background: none;
	color: #666;
	font-family: Arial;
	font-size: 12px;
	text-decoration: underline;
}
#footer a:hover {
	text-decoration: none;
}

/*
++++++++++++++++++++++++
HOME
++++++++++++++++++++++++
*/
body.home #body {
	padding-left: 0;
	background: none;
}
body.home #body h1 { background: none; font-size: 34px; padding:6px 0; margin: 0; }
body.home #body h2 { background: none; color: #D03E2D; }
body.home #banner {
	height: 248px;
	width: 958px;
	border: 1px solid #FFF;
	background: url(/images/banner-background.jpg) repeat-x;
	opacity: 0.8
	margin-bottom: 2px;
}
body.home #banner div.primary {
	width: 350px;
	padding: 24px 0 0 30px;
	float: left;
	opacity: 1;
}
body.home #banner div.secondary {
	width: 500px;
	margin: 6px 24px 0 0;
	padding-right: 0;
	padding-top: 0;
	float: right;
	display: inline;
	opacity: 1;
}
body.home #body h1,
body.home #banner p {
	width: 350px;
	color: #21526C;
}
body.home #banner p {
	font-size: 14px;
	padding: 6px 0;
}
body.home #banner ul li {
	display: none;
}
body.home #main {
	float: left;
	width: 960px;
	margin-top: 2px;
	padding-top: 16px;
	/*background: url(/images/main-background-header.jpg) no-repeat top center;*/
}

/* TWITTER BAR */
#twitter-bar {
	width: 928px;
	float: left;
	background: #555;
	margin: 16px 0 0 0;
	padding: 0 12px 0 20px;
}
	#twitter-bar h3 {
		height: 28px;
		width: 150px;
		border-right: 2px solid #000;
		float: left;
	}
	#twitter-bar h3 a {
		display: block;
		height: 28px;
		padding: 0;
		line-height: 28px;
		font-size: 14px;
		background: none;
		color: #000;
	}
	#twitter-bar ul {
		float: left;
		width: 742px;
		font-size: 14px;
		color: #111;
		height: 28px;
		line-height: 28px;
		padding: 0 0 0 24px;
	}
	#twitter-bar ul li {
		height: 28px;
		width: 750px;
		overflow: hidden;
		display: none;
	}
	#twitter-bar ul a {
		background: none;
		text-decoration: underline;
		color: #000;
	}

/* MAIN CONTENT */
body.home #main div.column {
	float: left;
	font-family: Arial;
	background: url(/images/opaque-background.jpg) repeat-x;
}
body.home #main h2 {
	padding: 16px 0 16px 0;
}

/* FEATURED WORK */
body.home #work {
	padding: 0 24px 24px;
	width: 242px;
}
	body.home #work li {
		float: left;
		width: 110px;
		height: 110px;
		margin: 0 8px 8px 0;
	}
	body.home #work img {
		width: 100px;
		height: 100px;
	}
	body.home #work a {
		display: block;
		width: 101px;
		height: 101px;
		padding: 4px;
		border: 1px solid #444;
		background: #333;
	}
	body.home #work a:hover {
		background: #444;
	}

/* SERVICES */
body.home #services {
	padding: 0 24px 16px;
	margin: 0 20px;
	width: 232px;
	height: 292px;
}
	body.home #services li {
		background: url(/images/checkmark.gif) no-repeat;
		height: 32px;
		line-height: 32px;
		padding: 0 0 8px 35px;
	}

/* RECENT POSTS */
body.home #posts {
	padding: 0 24px 16px;
	width: 302px;
	height: auto;
}
	body.home #posts li {
		font-size: 20px;
		padding: 0 0 8px 0;
	}
		body.home #posts li a { text-decoration: underline; }
		body.home #posts li a:hover { text-decoration: none; }
		body.home #posts li span {
			font: italic 10px Verdana;
			color: #999;
			display: block;
			padding-left: 4px;
		}
	body.home #body a { background-color: none; }
	
/*
++++++++++++++++++++++++
ABOUT
++++++++++++++++++++++++
*/
body.about div.primary p { color: #333; padding: 0 16px 8px 16px; background: #DDD; margin-bottom: 16px; }
body.about div.secondary img {
	border: 10px solid #222;
	margin: 6px 0 0 0;
}
body.about h2 {
	color: #333;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}
body.about p {
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}

/*
++++++++++++++++++++++++
WORK
++++++++++++++++++++++++
*/ 
#portfolios.index h1 {
	padding-bottom: 16px;
}
#portfolios div.portfolio-piece {
	float: left;
	display: inline;
	padding: 16px;
	margin: 0 0 8px 0;
	width: 523px;
	background: #DDD;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#portfolios.index #body div.portfolio-piece a.featured {
	background: #BBB;
	border: 1px solid #BBB;
	display: block;
	float: left;
	margin: 0 16px 0 0;
}
#portfolios.index #body div.portfolio-piece a.featured img {
	padding: 9px;
}
#portfolios.index #body div.secondary div.portfolios a,
#portfolios.edit #body div.secondary img {
	padding: 9px 9px 9px 9px;
	background: #555;
	border: 1px solid #666;
	height: 130px;
	width: 200px;
	display: block;
	margin: 0 auto;
}
#portfolios.index #body div.secondary div.portfolios a:hover { background: #666; }
#portfolios.index #body div.portfolio-piece a.featured:hover {
	background: #FFF;
}
#portfolios.index #body h3 {
	color: #666;
	font: bold 24px Georgia;
}
#portfolios.index #body p {
	color: #666;
	font: 14px Helvetica;	
}

/* DETAIL (SHOW) PAGE */
#portfolios.show #body div.primary img {
	padding:10px;
	margin-bottom: 8px;
	background: #DDD;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#portfolios.show #body div.secondary div.module h3 { padding-top: 6px; color: #CCC; }
#portfolios.show #body div.secondary div.module p,
#portfolios.show #body div.secondary div.module li {
	font-size: 14px;
	color: #CCC;
}
#portfolios.show #body div.secondary div.module ul {
	padding: 6px 0 0 0; 
}
#portfolios.show #body div.secondary div.module li {
	list-style-type: square;
	list-style-position: inside;
	padding: 0 0 6px 0;
}
#portfolios.show #body div.secondary a {
	background: #333;
}

/*
++++++++++++++++++++++++
LOGIN
++++++++++++++++++++++++
*/
#sessions.new #login-form {
	width: 274px;
	margin: 0 auto 100px auto;
	background: #DDD;
	padding: 24px 50px 24px 50px;
}
#sessions.new #login-form p.text input {
	height: 26px;
	width: 272px;
	border: 1px solid #AAA;
	background: #BBB;
	padding: 6px 4px 2px 4px;
	color: #555;
	font-size: 16px;
	font-family: Lucida Grande;
	font-style: italic;
}
#sessions.new #login-form p.submit {
	padding-bottom: 0;
	margin-top: 4px;
}
#sessions.new #login-form p.submit input {
	
}

/*
++++++++++++++++++++++++
ADMIN
++++++++++++++++++++++++
*/

/* INDEX PAGE */
#body div.secondary div.admin { margin-bottom: 16px; }
#body div.secondary div.admin a {
	line-height: 32px;
	border: 1px solid #222;
	background: #222;
	font-family: Helvetica;
	font-size: 14px;
	/*padding: 8px 0;*/
}
#portfolios.index #body div.admin a {
	display: block;
	margin: 0 auto;
}
#portfolios #body div.admin a:hover {
	text-decoration: none;
	color: #FFF;
}
#portfolios.index #body div.admin.new a {
	width: 130px;
	background: #222 url(/images/plus.png) no-repeat 10px 12px;
	padding-left: 32px;
}
#portfolios #body div.admin.back a {
	padding: 2px 8px;
}
#portfolios.index #body div.secondary p {
	text-align: center;
}
#portfolios.show #body div.admin p,
#portfolios.edit #body div.admin p {
	text-align: center;
	padding: 6px;
	margin: 6px 0;
	background: #222;
}
#portfolios.show #body div.admin a,
#portfolios.edit #body div.admin a {
	background: #222;
}

/* NEW & EDIT PAGE */
#portfolios.new #body form,
#portfolios.edit #body form,
#posts.edit #body form,
#posts.new #body form {
	padding: 16px;
	background: #DDD;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#portfolios.new #body div.primary form,
#portfolios.edit #body div.primary form,
#posts.edit #body div.primary form,
#posts.new #body div.primary form {
	width: 524px;
}
	#portfolios.new #body form label,
	#portfolios.edit #body form label  { font: bold 18px Helvetica; }
	#portfolios.new #body form p.text input,
	#portfolios.edit #body form p.text input,
	#posts.show #body form p.text input,
	#posts.edit #body form p.text input,
	#posts.new #body form p.text input {
		width: 514px;
		border: 1px solid #999;
		background: #BBB;
		padding: 4px;
		line-height: 16px;
		font: italic 16px Georgia;
		color: #666;
	}
	#portfolios.new #body form textarea,
	#portfolios.edit #body form textarea,
	#posts.show #body form textarea,
	#posts.edit #body form textarea,
	#posts.new #body form textarea {
		width: 522px;
	}
#portfolios.new #body p,
#portfolios.edit #body p,
#posts.edit #body form p,
#posts.new #body form p {
	color: #666;
}
#portfolios.new #body a,
#portfolios.edit #body a,
#posts.edit #body form a,
#posts.new #body form a {
	padding: 0;
	background: none;
}
#portfolios.new #body div.primary p.submit,
#portfolios.edit #body div.primary p.submit,
#posts.edit #body div.primary p.submit,
#posts.new #body div.primary p.submit {
	text-align: right;
}
#portfolios.edit #body div.secondary p.delete {
	padding: 0 10px 16px;
	font: 11px Helvetica;
	text-align: right;
}
#portfolios.edit #body div.secondary p.delete a { color: #D03E2D; }
#portfolios.edit #body div.secondary div.add-image h3 { color: #337EA5; }

/*
++++++++++++++++++++++++
WEDDING
++++++++++++++++++++++++
*/ 
body.wedding div.primary p { color: #333; padding: 0 16px 8px 16px; background: #DDD; margin-bottom: 16px; }
body.wedding div.secondary img {
	border: 10px solid #222;
	margin: 6px 0 0 0;
}
body.wedding h2 {
	color: #333;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
}
body.wedding p {
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
}

body.wedding div.primary p.pavilion { padding: 16px 20px; }
body.wedding div.primary p.pavilion img { border: 1px solid #CCC; }
#body div.secondary div.module.rsvp { margin-top: 16px; }
#body div.secondary div.module.rsvp a {
  background: Green;
  display: block;
  width: 198px;
  padding: 10px;
  color: #FFF;
  text-align: center;
  border: 1px solid #000;
}
#body div.secondary div.module.rsvp a:hover {
  background: #009600;
  text-decoration: none;
}
#body div.secondary div.module.accommodations { padding-top: 20px; }

/*
++++++++++++++++++++++++
CONTACT PAGE
++++++++++++++++++++++++
*/
form.contact {
	background: #DDD;
	display: block;
	width: 555px;
	padding: 40px 0 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
}
form.contact input.text,
form.contact textarea {
	width: 440px;
	border: 1px solid #AAA;
	background: #BBB;
	color: #333;
	font-size: 18px;
	font-family: Georgia;
	font-style: italic;
	padding: 6px 4px 4px 6px;
	margin: 0 27px 0 26px;
}
form.contact input.text {
	height: 26px;
}
form.contact textarea {
	height: 200px;
}
form.contact div {
	position: relative;
	width: 500px;
	margin: 0 auto;
}
form.contact label.over-apply { 
	color: #444;
	font-size: 16px;
	font-style: italic; 
	position: absolute; 
	top: 12px; 
	left: 34px;
}
form.contact div.submit { width: 450px; text-align: right; position: relative; top: -10px; }
form.contact div.submit input {
	width: 146px;
	height: 62px;
}
#contacts #body div.secondary div.module.skype {padding-top: 6px;}

/* CONTACT FORM - ERRORS */
form.contact span.fieldWithErrors label {
	color: #D03E2D;
}
form.contact span.fieldWithErrors input,
form.contact span.fieldWithErrors textarea {
	border: 1px solid #D03E2D;
}
form.contact div.formError {
	color: #D03E2D;
	padding-left: 34px;
	margin-bottom: 16px;
	font-family: Arial;
	font-size: 13px;
}

/* CONTACT FORM - THANK YOU  */
#messages.thank_you #body {
	padding-left: 0;
	padding-bottom: 0;
	background: none;
}
#messages.thank_you #body h1 { width: auto; }
#messages #thank-you {
	padding: 10px 20px 20px 20px;
	width: 916px;
	background: #DDD;
	border: 2px solid #DDD;
}
#messages #thank-you p {
	color: #337EA5;
	font-size: 18px;
}

/*
++++++++++++++++++++++++
BLOG POST PAGE
++++++++++++++++++++++++
*/
div.comments form,
#posts div.comment,
#posts div.primary div.post,
#posts div.primary div.tag-list,
#contacts div.primary div.post {
	float: left;
	display: inline;
	padding: 16px;
	margin: 0 0 8px 0;
	width: 523px;
	background: #DDD;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#posts div.comment {
	float: left;
	display: inline;
	padding: 16px;
	margin: 0 0 8px 0;
	width: 523px;
	background: #FFF;
	color: #666;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#posts div.comment p {
	font-size: 12px;
	color: #666;
}
#posts div.primary div.post h3,
#posts div.primary div.tag-list h3,
#contacts div.primary div.post h3 {
	color: #333;
	font: bold 24px Georgia;
}
#posts div.primary div.post h2 { border-bottom: 2px solid #BBB; margin: 6px 0; }
#posts div.primary div.post h2,
#posts div.primary div.post h3 { padding: 6px 0 4px; font-family: Helvetica; }
#posts div.primary div.tag-list p { font: italic 14px Verdana; text-align: right; }
#posts div.primary p.published-date { color: #666; }
#posts div.primary p.published-date,
#contacts div.primary p.published-date { font: italic bold 12px Verdana; text-align: right; color: #666; padding-right: 20px; }
#contacts div.primary p.published-date {
	position: absolute;
	width: 520px;
	margin-top: -20px;
}
#posts div.primary div.post img { float: left; display: inline; margin: 0 10px 10px 0;}
div.secondary h3 { border-bottom: 1px solid #444; }
#posts div.secondary ul { padding: 6px 0 0 0; }
#posts div.secondary li { padding: 0 0 6px 0; }
#posts div.secondary.preview { background: url(/images/preview.gif) no-repeat top right; }
#posts div.primary div.post ul { padding-top: 8px; padding-bottom: 16px; }
#posts div.primary div.post ol {
	list-style-position: outside; 
	padding: 6px 20px 6px;
}
#posts div.primary div.post ol li { padding: 0 0 8px 0;}
#posts div.primary div.post div.dp-highlighter { border: 1px solid #CCC;}
#posts div.primary div.post div.dp-highlighter ol { padding: 0; }
#posts div.primary div.post ol li { 
	list-style-type: decimal;
}
#posts div.primary div.post blockquote {
	font-style: italic;
	padding: 6px 20px 8px;
}
/*
++++++++++++++++++++++++
COMMENT STYLES
++++++++++++++++++++++++
*/
div.comments form { background: #CCC; }
div.comments form label {
	color: #666;
}
div.comments form textarea { height: 150px; width: }
div.comment ul.info {
	float: left; 
	padding: 0 16px 6px 0;
	width: 100%;
}
div.comment ul.info li {
	float: left;
}
div.comment ul.info li.name { font: 14px Verdana; }
div.comment ul.info li.date { font: 10px Verdana; color: #D03E2D; float: right; }
div.comment p { padding: 0; font-size: 14px; color: #333; clear: both; }

/*
++++++++++++++++++++++++
FORM STYLES
++++++++++++++++++++++++
*/
div.errorExplanation {
	padding: 10px;
	margin: 0 0 20px 0;
	background: #EEE;
	border: 1px solid #D03E2D;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
div.errorExplanation h3 { 
	font: bold 16px Verdana; 
	color: #666; 
	padding: 4px 0 8px; 
	border-bottom: 
	1px solid #D03E2D; 
}
div.errorExplanation p { font: 14px Verdana; color: #666; }
div.errorExplanation ul { 
	padding-top: 10px;
	font: 14px Georgia; 
	color: #666; 
}
div.errorExplanation li {
	list-style-type: square;
	list-style-position: inside;
	padding: 0 0 6px 0;
}
div.comments form span.fieldWithErrors label { color: #D03E2D; }
span.fieldWithErrors input.text { border: 1px solid #D03E2D; }
dl.form,
dl.form dt,
dl.form dd { width: 100%; }
dl.form dt { font: 12px Verdana; padding-bottom: 4px; }
dl.form dd { padding-bottom: 8px; }
dl.form input.text { width: 510px; border: 1px solid #BBB; padding: 5px; }
